apiVersion: v1
kind: Secret
metadata:
  name: {{ backend_secret_name }}
  namespace: {{ platform_namespace }}
type: Opaque
stringData:
  POSTGRES_PASSWORD: "{{ postgres_password }}"
  BACKEND_SECRET_KEY: "{{ backend_secret_key }}"
